body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
.container{
    background-color: rgb(187, 255, 0);
    align-items: center;
    margin-left: 2.9em;
}

/* Header Section */

header {
    color: #333;
    padding: 0 10px; 
    text-align: center;
    border-bottom: 0.1px solid #afacac;
}

header nav{
    max-width: 1200px;/* */
    margin: 0 auto;/* */
    padding: 0 20px;/* */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header nav ul{
    list-style: none; 
    padding: 0;
}

header nav ul li{
    display: inline-block;
    margin: 0 20px;
}

header nav ul li a{
color:  #3498db;
font-weight: 50%;
text-decoration: none;
position: relative;

}

nav ul li a::after{
    content: ' ';
    width: 0;
    height: 3px;
    background: #333;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}
nav ul li a:hover {
    color: #2980b9;
}
nav ul li a:hover::after{
    width: 100%;
}
.logo{
    width: 80px;
}

/* home  Section */
.home{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
}

.text-content{
    width: 50%;
    float: left;
    margin-top: 100px;
    height: 20%;
}

.text-content h1{
    font-size: 4.5em;
    margin-bottom: 0.5em;
}

.text-content h2{
    font-size: 1.5em;
    margin-bottom: 1em;
}

.text-content h3{
    font-size: 1.5em;
    margin-bottom: 1em;
    color: #3498db;
}

.buttons {
    margin-top: 20px;
}

.buttons .btn{
    display: inline-block;
    padding:12px 28px;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 1em;
    background-color: #3498db;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons .btn:hover {
    background-color: #2980b9;
}

.buttons .btn{
    text-decoration: none;
}

.image-content{
    width: 50%;
    float: left;
    justify-content: center;
    align-items: center; 
    margin-top: 0px;
    background-color: #eb5d17;
    margin-top: 100px;
}

.image-box{
    width: 80%;
    height: calc(100% - 40px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color:  hwb(204 32% 10%); /* to be changed after adding animation to the image box div  line 153 - 163*/
    align-items: center;
    margin-left: 10%;
    margin-top: 40px;
    position: relative;
    border-radius: 40px;
}

.profile-picture{
    height: auto;
    object-fit: cover;
    position: absolute;
    left: 10%;
}

@keyframes colorChange {
    0% { color: #34dbb1; }  
    50% { color: #e74c3c; } 
    100% { color: #3498db; } 
}

.image-box {
    animation: colorChange 3s infinite; 
    text-align: center;
    margin-top: 50px;
}

/* Skills Section */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.skills{
    width: 100%;
    height: auto;
    color: #333333;
    padding: 25px;
    margin-top: 11%;
    text-align: center;
    background-color:hsl(62, 50%, 50%);
}

.skills-content{
    max-width: 1200px;/* */
    margin: 0 auto;/* */
    padding: 0 10px;/* */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skill-logo{
    width: 60px;
}

.skill-item{
    position: relative;
    display: inline-block;
    margin: 0px;
}

.skill-name{
    display: block;
    font-size: 14px;
}

.skill-item:hover .skill-name {
    color: #eb5d17;
}

/* Notes Section */
.notes{
    margin-top: 2.5em;

}
.notes-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.note-tittle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6f1414;
    margin-top: 3em;
}

.allnotes-btn{
    padding: 12px 28px;
    font-size: 16px;
    border-radius: 8px;
    border: 0.5px solid #333;
    color: black;
    background-color: #d5d2d2;
}

.allnotes-btn:hover{
    background-color: #e7e7e7;
}

.note-details{
    max-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-details{
    background-color: #34dbb1;
    border-bottom: 1px solid #0000EE;
    padding: 10px; 
}
.note-details .title a{
    text-decoration: none;
    color: #3939c3;
    transition: color 0.3s ease;
}
.note-details .dates a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: #2d2d2d;
}

/* Hover effect when either the title or date is hovered */
.note-details .title.hovered a{
    text-decoration: underline; 
    color:#0000CC;
}
.note-details .dates.hovered a {
    color: black;
}


.articles{
    margin-top: -20px;
}

.note-tittle h1{
    font-size: 1.5em;
    margin-bottom: 2em;
    margin-top: 2em;

}

/* Project Section */ 

.projects {
    padding: 4rem 0;
}

.projects-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.projects-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.allprojects-btn{
    padding: 12px 28px;
    font-size: 16px;
    border-radius: 8px;
    border: 0.5px solid #333;
    color: black;
}
.allprojects-btn:hover{
    background-color: #e7e7e7;
}
.project-grid {
    display: grid; /* grid display for project items  */
    grid-template-columns: repeat(3, 1fr); /* grid colum row and numbers  */
    gap: 2rem;
}

.project-item {
    background-color: #f8f8f8;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease; 
}


.project-caption h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.project-caption p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.project-buttons {
    /* display: flex; */
    /* justify-content: flex-start; /* Aligning the buttons to the left */
    gap: 0.5rem;
}

.project-buttons button {
    border: none;
    padding:12px 28px;
    margin-top: 10px;
    margin-right: 25px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: hsl(62, 50%, 50%);
    color: white;
}

.project-buttons button:hover{
    background-color:hsl(62, 40%, 50%);
}

/* badges  */

.badges {
    max-width: 1200px;
    margin: 0 auto;
    padding:0 20px;
}

.badges-title {
    margin-bottom: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; /
}

.badges-grid {
    display: flex;
    gap: 20px;
}

.badge-image {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.badge-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.badge-details {
    flex: 1; 
    padding: 15px;
    margin-top: 1rem;
    border-left: 3px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.badge-details {
    border-left: 4px solid #bcb7b768; 
}

.badge-details.active {
    border-left: 3px solid  #eb5d17; 
}

.badge-details h2 {
    margin: 0 0 10px;
    font-size: 20px;
}

.badge-details p {
    margin: 0;
    font-size: 16px;
    color: #666;
}


/*  last curved button */
.centered-button-section {
    flex-shrink: 0;
    background: linear-gradient(90deg, rgba(46, 89, 235, 1) 0%, rgba(90, 173, 246, 0.9) 50%, rgba(139, 230, 247, 1) 100%);
    height: 150px;
    padding-top: 130px;
    clip-path: polygon(0% 0%, 100% 60%, 50% 80%, 0% 70%, 100% 0%, 100% 100%, 0% 100%);
    color: white;
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.centered-button-div {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.centered-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #0000EE;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.centered-button:hover {
    background-color: #0000CC;
}

.footer_content{  
    flex-shrink: 0;
    background: linear-gradient(90deg, rgba(109,35,199,1) 0%, rgba(158,12,228,0.8820261380919555) 63%, rgba(128,62,226,0.8960317403328519) 100%);
    height:150px;
    padding-top:130px;
    color: white;
    padding-left:15px;
    padding-right:5px;
  }
  