body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
.container{
    background-color: rgb(187, 255, 0);
    align-items: center;
    margin-left: 2.9em;
}

/* Header Section */

header {
    color: #333;
    padding: 0 10px; 
    text-align: center;
    border-bottom: 0.1px solid #afacac;
}

header nav{
    max-width: 1200px;/* */
    margin: 0 auto;/* */
    padding: 0 20px;/* */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header nav ul{
    list-style: none; 
    padding: 0;
}

header nav ul li{
    display: inline-block;
    margin: 0 20px;
}

header nav ul li a{
color:  #3498db;
font-weight: 50%;
text-decoration: none;
position: relative;

}

nav ul li a::after{
    content: ' ';
    width: 0;
    height: 3px;
    background: #333;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}
nav ul li a:hover {
    color: #2980b9;
}
nav ul li a:hover::after{
    width: 100%;
}
.logo{
    width: 80px;
}

/* home  Section */
.home{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
}

.text-content{
    width: 50%;
    float: left;
    margin-top: 100px;
    height: 20%;
}

.text-content h1{
    font-size: 4.5em;
    margin-bottom: 0.5em;
}

.text-content h2{
    font-size: 1.5em;
    margin-bottom: 1em;
}

.text-content h3{
    font-size: 1.5em;
    margin-bottom: 1em;
    color: #3498db;
}

.buttons {
    margin-top: 20px;
}

.buttons .btn{
    display: inline-block;
    padding:12px 28px;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 1em;
    background-color: #3498db;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons .btn:hover {
    background-color: #2980b9;
}

.buttons .btn{
    text-decoration: none;
}

.image-content{
    width: 50%;
    float: left;
    justify-content: center;
    align-items: center; 
    margin-top: 0px;
    background-color: #eb5d17;
    margin-top: 100px;
}

.image-box{
    width: 80%;
    height: calc(100% - 40px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color:  hwb(204 32% 10%); /* to be changed after adding animation to the image box div  line 153 - 163*/
    align-items: center;
    margin-left: 10%;
    margin-top: 40px;
    position: relative;
    border-radius: 40px;
}

.profile-picture{
    height: auto;
    object-fit: cover;
    position: absolute;
    left: 10%;
}

@keyframes colorChange {
    0% { color: #34dbb1; }  
    50% { color: #e74c3c; } 
    100% { color: #3498db; } 
}

.image-box {
    animation: colorChange 3s infinite; 
    text-align: center;
    margin-top: 50px;
}

/* Skills Section */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.skills{
    width: 100%;
    height: auto;
    color: #333333;
    padding: 25px;
    margin-top: 11%;
    text-align: center;
    background-color:hsl(62, 50%, 50%);
}

.skills-content{
    max-width: 1200px;/* */
    margin: 0 auto;/* */
    padding: 0 10px;/* */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skill-logo{
    width: 60px;
}

.skill-item{
    position: relative;
    display: inline-block;
    margin: 0px;
}

.skill-name{
    display: block;
    font-size: 14px;
}

.skill-item:hover .skill-name {
    color: #eb5d17;
}

/* Project Section */ 

.projects {
    background-color: whitesmoke;
    padding: 4rem 0;
}

.projects-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.projects-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-grid {
    display: grid; /* grid display for project items  */
    grid-template-columns: repeat(3, 1fr); /* grid colum row and numbers  */
    gap: 2rem;
}

.project-item {
    background-color: #f8f8f8;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease; 
}

.project-item:hover {
   /* transform: translateY(-5px); /* Slightly lifts the box on hover */
}

.project-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.project-caption h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.project-caption p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.project-buttons {
    /* display: flex; */
    /* justify-content: flex-start; /* Aligning the buttons to the left */
    gap: 0.5rem;
}

.project-buttons button {
    border: none;
    padding:12px 28px;
    margin-top: 10px;
    margin-right: 25px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: hsl(62, 50%, 50%);
    color: white;
}

.project-buttons button:hover{
    background-color:hsl(62, 40%, 50%);
}


